@use '_commons' as c;

.boton{
	
    display: block;
	position: fixed;
	background-color:map-get(c.$color-btnwpp,"color1");
	z-index: 2000;
	width: 30%;
	height: 13%;
	left: 90vw;
	top: 83vh;
	border-radius: 25px;


        &__contenedor{
            width: 34%;
            display: flex;
        }

        &__img{
            display: flex;
            margin: 5px auto;
            width: 45%;	
        }

        &__img:hover{
            animation-name: img-boton;
            animation-duration: 0.2s;
        }

        @keyframes img-boton {
            0%{
                opacity: 100%;
            }
            50%{
                opacity: 50%;
                transform: rotate(30deg)
            }
            100%{
                opacity: 100%;
            }
        }

        &__texto{
            text-decoration: none;
            color: map-get(c.$color-btnwpp,"color2");
            margin: auto;
            text-align: center;
            font-family: 'Bebas Neue', cursive;
            font-size: 15px;
            animation-name: boton;
            animation-duration: 0.5s;
        }

        @keyframes boton{
            0%{
                transform: translate(200px, 0);
                opacity: 0%;
            }
        }

        &__texto:hover{
            animation-name: texto-boton;
            animation-duration: 0.5s;
        }

        @keyframes texto-boton{
            0%{
                color: map-get(c.$color-btnwpp,"color1");
                opacity: 100%;
            }
            50%{
                color: map-get(c.$color-btnwpp,"color2");
                opacity: 20%;
            }
            100%{
                color: map-get(c.$color-btnwpp,"color1");
                opacity: 100%;
            }
        }
}

@media screen and (max-width: 850px) {

	.boton{
		width: 100%;
		height: 10%;
		left: 0vw;
		top: 90vh;
		border-radius: 0;
	
        &__contenedor{
            width: 100%;
            margin: auto;
            flex-direction: row;
        }
        
        &__img{
            width: 30%;
            margin: auto;
            align-items: center;
        }

        &__h1{
            width: 70%;
            margin: auto;
            align-items: center;
        }
        
        &__texto{
            display: flex;
            margin: auto;
            font-size: 23px;
            animation-name: boton;
            animation-duration: 1.5s;
            align-items: center;
        }

        @keyframes boton{
            0%{
                transform: translate(0, 200px);
                opacity: 0%;
            }
        }
    }
}
