/* COLORES */

$color-header:(
    color1: #EC4E0B,
    color2: #000000,
    color3: #ffffff,
    color4: #ff8e4a,
);

$color-footer:(
    color1: #EC4E0B,
    color2: #000000,
    color3: #ffffff,
    color4: #ff8e4a,
);

$color-btnwpp:(
    color1: #0dc143,
    color2: #ffffff,
);

$color-inicio:(
    color1: #EC4E0B,
    color2: #000000,
    color3: #ffffff,
    color4: #ff8e4a,
);

$color-menu:(
    color1: #EC4E0B,
    color2: #000000,
    color3: #ffffff,
    color4: #ff8e4a,
);

$color-sucursal:(
    color1: #EC4E0B,
    color2: #000000,
    color3: #ffffff,
    color4: #ff8e4a,
);

$color-promociones:(
    color1: #EC4E0B,
    color2: #000000,
    color3: #ffffff,
    color4: #ff8e4a,
);

$color-contacto:(
    color1: #EC4E0B,
    color2: #000000,
    color3: #ffffff,
    color4: #ff8e4a,
    color5: rgb(136, 136, 136),
);