$color1: #ff5f00;
$color2: #000000;
$color3: #ffffff;
$color4: #ff8e4a;

.footer{
	width: 100%;
	display: flex;
	margin: 50px auto 0;
	background-color: $color2;
	flex-direction: column;
	border-top: 4px solid $color1;

        &__logo-contenedor{
            display: flex;
            width: 80%;
            margin: 40px auto;
        }

        &__logo-img{
            display: flex;
            max-width: 150px;
            margin: auto;
        }
}

.footer-info{

        display: flex;
        width: 80%;
        margin: auto;
        border-top: 1px solid $color3;
        
            &__texto{
                display: flex;
                width: 100%;
                margin: 20px auto 20px;
                padding: 10px;
                font-size: 15px;
                color: $color3;
                justify-content: flex-end;
            }

            &__contenedor{
                display: flex;
                width: 100%;
                justify-content: flex-start;
                margin: 20px auto 20px;
                padding: 3px;
            }

            &__img{
                display: flex;
                margin: 0 5px;
            }

}

@media screen and (max-width: 850px) {

    .footer{
            flex-direction: column;
    }
        
    .footer-info{
            flex-direction: column;
        
        &__texto{
            justify-content: center;
            text-align: center;
            margin: 10px auto 90px;
        }

        &__contenedor{
            justify-content: center;
        }

        &__img{
            margin: 5px 0 -20px;
            padding: 5px;
        }
}
}