@use '_commons' as c;

#nav{
    grid-area: nav;
}

.logo{ 
    
    &__img{
        display: flex;
        height: 100%;
        align-items: center;
        margin: auto;
        padding: 10px 0;
        animation-name: logo;
        animation-duration: 1s;
    }
    
    @keyframes logo{
        0%{
            opacity: 0%;
        }
        100%{
        
            opacity: 100%;
        }
    }
}

.ham{
    display: none;
    position: absolute;
    top:20px;
    right: 40px;
    background-color: transparent;
}

.ham span{
    display: none;
    background-color: map-get(c.$color-header,"color2");
    height: 3px;
    width: 28px;
    margin: 5px auto;
    border-radius: 2px;
}

.nav{

	display: flex;
	height: 100px;
	background-color: map-get(c.$color-header,"color2");
	width: 100%;
	margin: auto;
	position: fixed;
	z-index: 1000;
	border-bottom: 4px map-get(c.$color-header,"color1") solid;

        &{
            display: flex;
            width: 100%;
            justify-content:space-evenly;
        }

        &__links{
            display: flex;
            margin-left: 20px;
        }
        
        &__link{
            display: flex;
            margin: auto 20px;
            justify-content: center;
            color: map-get(c.$color-header,"color3");
            padding: 1px;
            font-size: 20px;
            border-radius: 15px;
            animation-name: nav-li;
            animation-duration: 1s;
        }
        
        @keyframes nav-li{
            0%{
                opacity: 0%;
            }
            100%{
                opacity: 100%;
            }
        }
        
        &__link:hover{
            border-radius: 15px;
            padding: 1px;
            background-color: map-get(c.$color-header,"color1");
            transition-duration: 0.9s;
        }
        
        &__link__texto{
            text-decoration: none;
            color: map-get(c.$color-header,"color3");
            padding: 10px;
            border-radius: 15px;
            font-family: 'Bebas Neue', cursive;
        }
        
        &__link__texto:active{
            text-decoration: none;
            background-color: map-get(c.$color-header,"color4");
            color: map-get(c.$color-header,"color1");
            padding: 10px;
            border-radius: 15px;
        }

}

.pedido{
    display: flex;
    margin: auto 20px;
    justify-content: center;
    color: map-get(c.$color-header,"color3");
    background-color: map-get(c.$color-header,"color5");
    padding: 1px;
    font-size: 15px;
    border-radius: 7px;
    animation-name: boton_pedido;
    animation-duration: 1s;

        @keyframes boton_pedido{
            0%{
                opacity: 0%;
            }
            100%{
                opacity: 100%;
            }
        }
        
        &:hover{
            padding: 1px;
            background-color: map-get(c.$color-header,"color3");
            transition-duration: 0.9s;
        }

        &__texto{
            text-decoration: none;
            color: map-get(c.$color-header,"color3");
            padding: 10px;
            font-family: 'Bebas Neue', cursive;
        }

        &__texto:hover{
            color: map-get(c.$color-header,"color5");
        }

        &__contenedor{
            margin: auto;
            text-decoration: none;
        }
}

@media screen and (max-width: 850px) {

    .nav{
		display: flex;
		flex-direction: column;
	

        &__links{
            display: none;
            flex-direction: column;
            vertical-align: center;
            margin: auto;
            width: 100vw;
            height: 100vh;
        }

        &__links.activado{
            display: flex;
            margin: auto;
            padding: 22px;
            position: relative;
            top: 224px;
            background-color: map-get(c.$color-header,"color2");
            animation:muestraMenu 350ms ease-in-out both;
            z-index: 2000;
            border-bottom: 5px solid map-get(c.$color-header,"color1");
        }

        &__link{
            margin: 15px auto;
            width: 100%;
        }

        &__link__texto{
            font-size: 25px;
            width: 100%;
            text-align: center;
        }

        &__link__texto:active{
            text-decoration: none;
            text-align: center;
            width: 100%;
            background-color: map-get(c.$color-header,"color4");
            color: map-get(c.$color-header,"color1");
        }
}
    .logo{
        height: 100%;
        vertical-align: center;
        margin: 10px 0;
        width: 21%;
        }

    .ham__contenedor{
        display: flex;
        justify-content: space-around;
        margin: 0 30px 0 0;
    }

    .ham{
        display: block;
		margin: 15px 0;
        border: none;
	}

	.ham span{
		display: flex;
		background-color: map-get(c.$color-header,"color3");
	}
}
