@use '_header';
@use '_footer';
@use '_boton';
@use '_content-color';


/* ------------- HOME RESPONSIVE ------------- */

@media screen and (max-width: 600px) {

    .img-index{
        width: 100%;
        height: 60vh;
        
            &__img{
                width: 100%;
                height: 60vh;
                margin-top: 35px;
            }
    }
    
        .contenido-destacado-img{
            flex-direction: column;
            flex-wrap: wrap;
        }
    }
    
    /* ------------- MENU RESPONSIVE ------------- */
    
    @media screen and (max-width: 600px) {
    
    .sub-nav__links{
            width: 20%;
            display: flex;
            margin: auto;
            justify-content: center;
            font-size: 15px;
        }
    
        .title-menu{
            justify-content: center;
        }
    
    .menu{
        
    
        &__contenedor{
            width: 50%;
        }
    
        &__contenedor__img{
            width: 50%;
        }
    
        &__img{
            width: 100%;
        }
    
        &__img__texto{
            font-size: 20px;
        }
    
        &__img__texto__descripcion{
            font-size: 11px;
        }
    }
    }
    
    /* ------------- SUCURSAL RESPONSIVE ------------- */
    
    @media screen and (max-width: 600px) {
    
    .sucursal{
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 0 auto 50px;
        font-family: 'Source Sans Pro', sans-serif;
        
            &__titulo{
                width: 100%;
                margin: auto;
                text-align: center;
                font-size: 45px;
                margin: 140px auto 20px;
                font-family: 'Bebas Neue', cursive;
            }
        }
    }
    
    /* ------------- PROMOCIONES RESPONSIVE ------------- */
    
    @media screen and (max-width: 600px) {
    
    .promo-titulo{
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: auto;
        font-family: 'Bebas Neue', cursive;
    
            &__texto{
                display: flex;
                width: 100%;
                margin: auto;
                padding: 130px 0 0 0;
                text-align: center;
                justify-content: center;
            }
    }
    
    .promo{
        display: flex;
        width: 80%;
        margin: auto;
        flex-wrap: wrap;
    
            &__contenedor{
                display: flex;
                width: 100%;
                margin: auto;	
                flex-direction: column;
                padding: 15px;
            }
            
            &__img{
                display: flex;
                width: 100%;
                margin: auto;
                object-fit: cover;
                border-radius: 20px;
            }
        }
    }
    
    
    /* ------------- CONTACTO RESPONSIVE ------------- */
    
    @media screen and (max-width: 600px) {
        
        .form{
        
            .form__titulo{
                width: 95%;
                font-size: 30px;
            }
            
            .form__contenedor{
                width: 75%;
            }
            
            .form__contenedor__boton{
                width: 100%;
            }
            
            /*.form__contenedor__boton:active{
            }*/
        }
        }