* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: white;
}

#main-index{
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-areas: 
	"img img"
	"menu-text menu-text"
	"menu menu"
	"promo-text promo-text"
	"promo promo"
	;
}

.boton-pedido{
	display: block;
	position: fixed;
	background-color:#0dc143;
	z-index: 2000;
	width: 30%;
	height: 13%;
	left: 90vw;
	top: 83vh;
	border-radius: 25px;
}

.contenedor-text-boton{
	width: 34%;
	display: flex;
}

.contenedor-text-boton img{
	display: flex;
	margin: 5px auto;
	width: 45%;	
}

.contenedor-text-boton img:hover{
	animation-name: img-boton;
	animation-duration: 0.2s;
}

@keyframes img-boton {
	0%{
		opacity: 100%;
	}
	50%{
		opacity: 50%;
		transform: rotate(30deg)
	}
	100%{
		opacity: 100%;
	}
}

.boton-pedido a{
	text-decoration: none;
	color: #ffffff;
	margin: auto;
	text-align: center;
	font-family: 'Bebas Neue', cursive;
	font-size: 15px;
	animation-name: boton;
	animation-duration: 0.5s;
}

.boton-pedido a:hover{
	animation-name: texto-boton;
	animation-duration: 0.5s;
}

@keyframes texto-boton{
	0%{
		color: #0dc143;
		opacity: 100%;
	}
	50%{
		color: white;
		opacity: 20%;
	}
	100%{
		color:#0dc143;
		opacity: 100%;
	}
}

@keyframes boton{
	0%{
		transform: translate(200px, 0);
		opacity: 0%;
	}
}

header{
	display: flex;
	height: 100px;
	background-color: black;
	width: 100%;
	margin: auto;
	position: fixed;
	z-index: 1000;
	border-bottom: 4px #ff5f00 solid;
}

.div-logo{
	display: flex;
}

.logo{
	display: flex;
	vertical-align: middle;
	margin: 10px 0 10px;
	animation-name: logo;
	animation-duration: 1s;
}

@keyframes logo{
	0%{
		opacity: 0%;
	}
	100%{
	
		opacity: 100%;
	}
}

.ham{
    position: absolute;
    top:20px;
    right: 40px;
    background-color: transparent;
    border:none;
}

.ham span{
    display: none;
    background-color: black;
    height: 3px;
    width: 28px;
    margin: 5px auto;
    border-radius: 2px;
}


header nav{
	display: flex;
	width: 100%;
	justify-content:space-around;
}

header nav ul{
	display: flex;
	margin-left: 20px;
}

header nav ul li{
	display: flex;
	margin: auto 20px;
	justify-content: center;
	color: white;
	padding: 1px;
	font-size: 20px;
	border-radius: 15px;
	animation-name: nav-li;
	animation-duration: 1s;
}

@keyframes nav-li{
	0%{
		opacity: 0%;
	}
	100%{
		opacity: 100%;
	}
}

header nav ul li:hover{
	border-radius: 35px;
	padding: 1px;
	background-color: #ff5f00;
	transition-duration: 0.9s;
}

header nav ul li a{
	text-decoration: none;
	color: white;
	padding: 10px;
	border-radius: 25px;
	font-family: 'Bebas Neue', cursive;
}

header nav ul li a:active{
	text-decoration: none;
	background-color: #ff8e4a;
	color: #ff5f00;
	padding: 10px;
	border-radius: 35px;
}


#img-index{
	grid-area: img;
}

.img-home{
	width: 100%;
	height: 750px;
}

.img-home img {
	width: 100%;
	max-height: 750px;
	object-fit:cover;
	animation-name: img-home;
	animation-duration: 2s;
}

@keyframes img-home{
	0%{
		opacity: 0%;
	}
	100%{
		opacity: 100%;
	}
}

#menu-text-index{
	grid-area: menu-text;
}

.cont-dest{
	display: flex;
	width: 80%;
	margin: 90px auto 0;
}

.cont-dest-text{
	display: flex;
	margin: auto;
	width: 100%;
	justify-content: space-between;
}

.cont-dest-text h1{
	display: flex;
	font-size: 40px;
	font-family: 'Bebas Neue', cursive;
}

.cont-dest-text a{
	display: flex;
	font-size: 20px;
	margin: auto 0;
	color: #fc8600;
	font-family: 'Bebas Neue', cursive;
	text-decoration: none;
}

.cont-dest-text a p:hover{
	text-decoration-line: underline;
	text-decoration-color: #ff5f00;
}

#menu-index{
	grid-area: menu;
}

.cont-dest-img{
	display: flex;
	width: 80%;
	margin: auto;
}

.cont-dest-img div{
	display: flex;
	width: 100%;
	margin: 20px 0;
}

.cont-dest-img img{
	display: flex;
	width: 100%;
	max-width: 95%;
	margin: auto;
	object-fit: cover;
	border-radius: 20px;
	animation-name: img-dest;
	animation-duration: 2s;
}

@keyframes img-dest{
	0%{
		opacity: 0%;
	}
	100%{
		opacity: 100%;
	}
}

.cont-dest-img img:hover{
	box-shadow: 0px 0px 2px 0px black;
	transition-property: box-shadow;
	transition-duration: 0.1s;
}

#promo-text-index{
	grid-area: promo-text;
}

.cont-promo{
	display: flex;
	width: 80%;
	margin: 90px auto 0;
}

.cont-promo-text{
	display: flex;
	margin: auto;
	width: 100%;
	justify-content: space-between;
}

.cont-promo-text h1{
	display: flex;
	font-size: 40px;
	font-family: 'Bebas Neue', cursive;
}

.cont-promo-text a{
	display: flex;
	margin: auto 0;
	font-size: 20px;
	color: #fc8600;
	justify-content:flex-end;
	font-family: 'Bebas Neue', cursive;
	text-decoration: none;
}

#promo-index{
	grid-area: promo;
}

.cont-promo-img{
	display: flex;
	width: 80%;
	margin: auto;
}

.cont-promo-img div{
	display: flex;
	width: 100%;
	margin: 20px 0;
}

.cont-promo-img img{
	display: flex;
	width: 100%;
	max-width: 95%;
	margin: auto;
	object-fit: cover;
	border-radius: 20px;
	animation-name: img-dest;
	animation-duration: 2s;
}

.cont-promo-img img:hover{
	box-shadow: 0px 0px 2px 0px black;
	transition-property: box-shadow;
	transition-duration: 0.1s;
}

@keyframes img-dest{
	0%{
		opacity: 0%;
	}
	100%{
		opacity: 100%;
	}
}

footer{
	width: 100%;
	display: flex;
	margin: 50px auto 0;
	background-color: black;
	flex-direction: column;
	border-top: 4px solid #ff5f00;
}

.footer-logo{
	display: flex;
	width: 80%;
	margin: 40px auto;
}

.footer-logo img{
	display: flex;
	max-width: 150px;
	margin: auto;
}

.footer-info{
	display: flex;
	width: 80%;
	margin: auto;
	border-top: 1px solid white;
}

.footer-info p{
	display: flex;
	width: 100%;
	margin: 20px auto 20px;
	padding: 10px;
	font-size: 15px;
	color: white;
	justify-content: flex-end;
}

.footer-info-redes{
	display: flex;
	width: 100%;
	justify-content: flex-start;
	margin: 20px auto 20px;
	padding: 3px;
}

.footer-info-redes img{
	display: flex;
	margin: 0 5px;
}

@media screen and (max-width: 600px) {

	.boton-pedido{
		display: block;
		background-color:#0dc143;
		z-index: 2000;
		width: 100%;
		height: 10%;
		left: 0vw;
		top: 90vh;
		border-radius: 0;
	}
	
	.contenedor-text-boton{
		width: 90%;
		margin: 12px auto;
		display: flex;
		flex-direction: row;
	}
	
	.contenedor-text-boton img{
		display: flex;
		margin: auto;
		width: 28%;
	}

	.contenedor-text-boton h1{
		width: 100%;
		margin: auto;
	}
	
	.contenedor-text-boton a{
		display: flex;
		width: 50%;
		text-decoration: none;
		color: #ffffff;
		margin: auto;
		font-family: 'Bebas Neue', cursive;
		font-size: 20px;
		animation-name: boton;
		animation-duration: 1.5s;
	}

	@keyframes boton{
		0%{
			transform: translate(0, 200px);
			opacity: 0%;
		}
	}

	header nav{
		display: flex;
		flex-direction: column;
	}

	.enlaces-menu{
		display: none;
		flex-direction: column;
		vertical-align: center;
		margin: auto;
		width: 100vw;
		height: 100vh;
	}

	.enlaces-menu.activado{
		display: flex;
		margin: auto;
		padding: 22px;
		position: relative;
		top: 229px;
		background-color: black;
		animation:muestraMenu 350ms ease-in-out both;
		z-index: 2000;
	}

	.enlaces-menu li{
		margin: 5px auto;
		padding: 10px;
	}

	.enlaces-menu li a{
		font-size: 25px;
	}

	.div-logo{
		display: flex;
		height: 100%;
		vertical-align: center;
	}

	.logo{
		display: flex;
		vertical-align: middle;
		margin: 10px 0 10px 30px;
		animation-name: logo;
		animation-duration: 1s;
		width: 21%;
	}

	.ham{
		margin: 15px 0;
	}

	.ham span{
		display: flex;
		background-color: white;
	}

	.img-home{
		width: 100%;
		height: 60vh;
	}

	.img-home img{
		width: 100%;
		height: 60vh;
		margin-top: 35px;
	}

	.cont-dest-img{
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}

	.cont-promo-img{
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}

	footer{
		display: flex;
		flex-direction: column;
	}

	.footer-info{
		display: flex;
		flex-direction: column;
	}

	.footer-info p{
		justify-content: center;
		text-align: center;
		margin: 10px auto 90px;
	}

	.footer-info-redes{
		display: flex;
		justify-content: center;
	}

	.footer-info-redes img{
		display: flex;
		margin: 5px 0 -20px;
		padding: 5px;
	}
}